{% extends 'portfolio/base.html' %}    

{% block content %}
    {% load static %}

    <h1>Zhu's Portfolio</h1>
    
    <a href="{% url 'blog:all_blogs' %}">Blog</a>
    <br>
    
    <img src="{% static 'portfolio/a.jpg' %}" height="150px">
    <a href="{% static 'portfolio/a.txt' %}">Resume</a>
    
    {% for project in projects %}
    
      <h2>{{ project.title }}</h2>
      <h2>{{ project.description }}</h2>
      <img src="{{ project.image.url }}" height="150" >
      {% if project.url %}
      <a href="{{ project.url }}">Link</a>
      {% endif %}
    
    {% endfor %}
    
{% endblock %}
